@import "../../variables.module.scss";

.caret {
  width: 0.2rem;
  height: 2.4rem;
  position: absolute;
}

.light {
  background-color: $lightmode-correct;
}

.dark {
  background-color: $darkmode-incorrect;
}
