@import "../../variables.module";

.main-data-wrapper {
  .main-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      h2 {
        font-size: 3.2rem;
        text-align: center;
        margin-bottom: -1rem;
      }
      p {
        font-size: 6.4rem;
      }
    }
  }

  .main-data-graph {
    height: 200px;
    width: 330px;
    background-color: gray;
  }
}

.secondary-data-wrapper {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  margin-top: 2rem;
}

.light {
  .main-data {
    div {
      h2 {
        color: $lightmode-misc-text;
      }

      p {
        color: $lightmode-correct;
      }
    }
  }

  .secondary-data-wrapper {
    div {
      h3 {
        color: $lightmode-misc-text;
      }

      p {
        color: $lightmode-correct;

        span {
          color: $lightmode-misc-text;
        }
      }
    }
  }
}

.dark {
  .main-data {
    div {
      h2 {
        color: $darkmode-misc-text;
      }

      p {
        color: $darkmode-incorrect;
      }
    }
  }

  .secondary-data-wrapper {
    div {
      h3 {
        color: $darkmode-misc-text;
      }

      p {
        color: $darkmode-incorrect;

        span {
          color: $darkmode-misc-text;
        }
      }
    }
  }
}
