@import "../../variables.module.scss";

.test-wrapper {
  margin: 0 3rem;
  text-align: left;
  position: relative;
  height: 13.2rem;
  overflow: hidden;

  .test-input {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    border: none;
    color: transparent;
    z-index: 10;

    &:focus {
      outline: none;
      caret-color: none;
    }
  }

  .passage-wrapper {
    position: relative;

    .word {
      display: inline-block;
      margin: 0.25em;
      font-size: 2.4rem;
    }
  }
}

.light {
  .word {
    color: $lightmode-misc-text;
  }

  .correct {
    color: $lightmode-correct;
  }

  .incorrect {
    color: $lightmode-incorrect;
  }
}

.dark {
  .word {
    color: $darkmode-misc-text;
  }

  .correct {
    color: $darkmode-correct;
  }

  .incorrect {
    color: $darkmode-incorrect;
  }
}
