@import "../../../variables.module.scss";

.toggler {
  // Remove default button styling
  border: none;
  outline: none;
  font: inherit;
  background: transparent;
  //
  height: 3rem;
  width: 7rem;
  border-radius: 20rem;

  div {
    display: flex;
    justify-content: center;
  }
}

.light {
  border: 1px solid $lightmode-correct;
}

.dark {
  border: 1px solid $darkmode-correct;
}
