@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto+Mono&display=swap");

$lightmode-bg: #eeebe2;
$lightmode-secondary-bg: #d3cfc1;
$lightmode-correct: #080909;
$lightmode-incorrect: #ba3333;
$lightmode-misc-text: #99947f;

$main-font: "Roboto Mono", sans-serif;
