@import "./variables.module.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: $main-font;
}

.light {
  background-color: $lightmode-bg;
  height: 100vh;
}

.dark {
  background-color: $darkmode-bg;
  height: 100vh;
}
